html{
    font-size: 20px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0;
    display: inline-block;
}
h1{
    margin: 0.8rem 0;
}

/*�擃極���憛�*/
#content_div{
    display: inline-block;
    width: 100%;
    max-height: 600px;
    overflow: auto;
}


/******************�����******************/
#search_form{
    
}
#search_form *{
    font-size: 0.8rem;
}

/*****************�摰孵�********************/
#content_div table{
    width: 95%;
    margin: 15px auto;
    background-color: #afafaf;
    box-shadow: 5px 5px 10px 2px #9d9d9d;
}

/*璅��*/
#content_div table thead td{
    color: white;
    background-color:black;
    outline: 1px solid #ffffff;
}
#sel_all_cb{
    width: 0.7rem;
    height: 0.7rem;  
}
#content_div table thead label{
    cursor: pointer;
}

/*銝餉�摰�*/
#content_div table tbody td{
	padding:0 5px;
}
.min_width{
    min-width:90px;
}


#content_div table tbody td span{
    display: inline-block;
}
.detial_btn{
    cursor: pointer;
    margin: 2px 0;
}

.checkbox{
    cursor: pointer;
    width: 1rem;
    height: 1rem;
}
#content_div tbody td {
    background-color: rgba(0, 0, 0, 0);
}
#content_div tbody tr {
    background-color: white!important;
}
#content_div tbody tr:hover{
   background: #e6e6e6!important;
}

/***************撖拇銝�甈⊿���****************/
#m_wt_btn_div input{
    position: relative;
    z-index: 0;
    font-size: 1rem;
    font-weight: 600;
    opacity: 1;
    transition: opacity 0.3s;
}
#m_wt_btn_div input:disabled{
    opacity: 0.6;
}


/*閰喟敦��*/
#cover_div{
	position:fixed;
	top: 0;
	left: 0;
	display: inline-block;
	height: 100%;
	width: 100%;
	background-color: rgba(129, 129, 129, 0.2);
	z-index: 10;
}
#cover_div iframe{
    position: relative;
    top:5%;
    width: 85%;
    height: 80%;
    border: none;
    overflow: hidden;
    box-shadow:3px 3px 10px 5px  #656565;
    z-index: 50;
}






/*��*/
.holiday{
    background-color: rgba(255, 175, 175, 0.72)!important;
}

.partOfHoliday{
    background-color: rgba(255, 217, 217, 0.71)!important;
}


