html {
	height: 100%;
	width: 100%;
	font-size: 20px;
	padding: 0;
	margin: 0;
	overflow-y: hidden;
}

body {
	height: 100%;
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
}

#cover_div {
	position: fixed;
	top: 0;
	left: 0;
	display: inline-block;
	height: 100%;
	width: 100%;
	background-color: rgba(129, 129, 129, 0.2);
}

table {
	width: 80%;
	margin: 15px auto 0 auto;
	background-color: #ffffff;
	box-shadow: 5px 5px 20px gray;
}

td {
	outline: 1px solid;
}

form {
	margin: 15px auto 0 auto;
}

input {
	font-size: 1rem;
	text-align: center;
}

input:disabled {
	background: none;
	border: none;
	color: black;
}

tr:last-child td>input {
	margin: 0px 10px;
}

#e, #m, #s {
	display: inline-block;
	width: 0.7rem;
	height: 0.7rem;
}

#submit {
	margin-right: 30px;
}

#submit, #cancel {
	margin-top: 1.5rem;
}

.bg_b_cl_w {
	background-color: #e5e5e5;
	color: black;
}
#email{
	width: 16rem;
}