html{
    font-size: 20px;
    height: 260px;
    width: 650px;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0;
    display: inline-block;
    background-color: white;
}
table{
    margin: 0 auto;
    border-bottom: 1px black solid;
    border: 1px black solid;
}

input{
    font-size: 0.8rem;
}
select{
	cursor:pointer;
    font-size: 0.8rem;
}
select:disabled{
	cursor:not-allowed;
}
#rd1,#rd2{
    width: 0.7rem;
    height: 0.7rem;
}
textarea{
    font-size: 0.8rem;
}
label{
	cursor:pointer;
}
#submit{
	cursor:pointer;
    margin-top: 20px;
}
.red{
    font-size: 0.7rem;
    color: red;
}

.tr_color{
    background-color: #e0e0e0;
}
.tr_color td{
    outline: 1px #e0e0e0 solid;
}
i{
	cursor:pointer;
    position: relative;
    font-size: 30px!important;
    top: 5px;
    left: calc(50% - 20px);
    color: black;
}
i:hover{
    color: #aaaaaa;
}