html{
    height: auto;
    width: auto;
    font-size: 20px;
}
body{
height:100%;
	width:99%;
	text-align: center;
}
table{
    width: 80%;
    margin:15px auto 0 auto;
    background-color:#ffffff;
    box-shadow:5px 5px 20px gray; 
     
}
td{
    outline: 1px solid;
}
form{
	 margin:15px auto 0 auto;
}
#cover_div{
	position:fixed;
	top: 0;
	left: 0;

	display: inline-block;
	height: 100%;
	width: 100%;
	background-color: rgba(129, 129, 129, 0.2);
}
#cover_div iframe{
	position: relative;
	top:20%;
    width: auto;
    height: auto;
    border: none;
    overflow: hidden;
    border-radius: 
    box-shadow:1px 1px 10px 5px  #9f9f9f;
}
input{
    font-size: 1rem;
    text-align: center;
}
#rd1,#rd2,#cb1{
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
}
#submit{
    margin-top: 1.5rem;
}
.bg_b_cl_w{
    background-color: #e5e5e5;
    color: black;
}
#e_id:disabled{
    border: none;
    background: none;
}
.modifyEmp_error{
	font-size: 0.5rem;
	color:red;
}


