.holdon-overlay {
    filter: alpha(opacity=65);
    position:fixed; 
    width:100%; 
    height:100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    z-index: 9999;
}
.holdon-content-container{
    width: 100%;
    padding: 0;
    vertical-align: middle;
    display: table-cell !important;
    margin: 0;
    text-align: center;
}

.holdon-content {
    text-align: center;
    width: 50px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}

.holdon-message {
    width:100%;
    text-align: center;
    position: absolute;
    top: 55%;
    color:white;
}
.sk-rect {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.sk-rect > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-rect-anim 1.2s infinite ease-in-out;
  animation: sk-rect-anim 1.2s infinite ease-in-out;
}

.sk-rect .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-rect .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.sk-rect .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-rect .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-rect-anim {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-rect-anim {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}