*{
    font-family: "微軟正黑體";
}
#header_row_div{
    background-color: black;
    color: white;
}
#header_div h1{
    font-size: 50px;
}
#main_row_div{
    padding-top: 60px;
}
#form_div{
    border: 1px black solid;
    border-radius: 5px;
}

h1{
    font-weight: bolder;
}
.error{
    color: red;
    font-weight: bolder;
}
.error_bg{
    background-color: rgba(255, 193, 193, 0.42);
}

.success_bg{
    background-color: rgba(198, 255, 193, 0.42);
}