<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>FJUT5_3_Worktime</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>Oracle Datasource example</description>
		<res-ref-name>jdbc/fjut5_3_wt_ds</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<!-- The definition of the Root Spring Container shared by all Servlets 
		and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>

	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- <filter> -->
	<!-- <filter-name>csrfFilter</filter-name> -->
	<!-- <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> -->
	<!-- <async-supported>true</async-supported> -->
	<!-- </filter> -->
	<!-- <filter-mapping> -->
	<!-- <filter-name>csrfFilter</filter-name> -->
	<!-- <url-pattern>/*</url-pattern> -->
	<!-- </filter-mapping> -->

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>

	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<!-- <servlet> -->
	<!-- <description></description> -->
	<!-- <display-name>Login</display-name> -->
	<!-- <servlet-name>Login</servlet-name> -->
	<!-- <servlet-class>controller.Login</servlet-class> -->
	<!-- </servlet> -->
	<!-- <servlet-mapping> -->
	<!-- <servlet-name>Login</servlet-name> -->
	<!-- <url-pattern>/Login.do</url-pattern> -->
	<!-- </servlet-mapping> -->
	<!-- <servlet> -->
	<!-- <description></description> -->
	<!-- <display-name>Logout</display-name> -->
	<!-- <servlet-name>Logout</servlet-name> -->
	<!-- <servlet-class>controller.Logout</servlet-class> -->
	<!-- </servlet> -->
	<!-- <servlet-mapping> -->
	<!-- <servlet-name>Logout</servlet-name> -->
	<!-- <url-pattern>/Logout.do</url-pattern> -->
	<!-- </servlet-mapping> -->
	<!-- <servlet> -->
	<!-- <description></description> -->
	<!-- <display-name>EmployeeServlet</display-name> -->
	<!-- <servlet-name>EmployeeServlet</servlet-name> -->
	<!-- <servlet-class>controller.EmployeeServlet</servlet-class> -->
	<!-- </servlet> -->
	<!-- <servlet-mapping> -->
	<!-- <servlet-name>EmployeeServlet</servlet-name> -->
	<!-- <url-pattern>/Employee.do</url-pattern> -->
	<!-- </servlet-mapping> -->
	<servlet>
		<description></description>
		<display-name>HolidayServlet</display-name>
		<servlet-name>HolidayServlet</servlet-name>
		<servlet-class>controller.HolidayServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HolidayServlet</servlet-name>
		<url-pattern>/Holiday.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>WorktimeServlet</display-name>
		<servlet-name>WorktimeServlet</servlet-name>
		<servlet-class>controller.WorktimeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WorktimeServlet</servlet-name>
		<url-pattern>/Worktime.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>WorktimeDetailServlet</display-name>
		<servlet-name>WorktimeDetailServlet</servlet-name>
		<servlet-class>controller.WorktimeDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WorktimeDetailServlet</servlet-name>
		<url-pattern>/WorktimeDetail.do</url-pattern>
	</servlet-mapping>
	<!-- <servlet> -->
	<!-- <description></description> -->
	<!-- <display-name>ForgetPwd</display-name> -->
	<!-- <servlet-name>ForgetPwd</servlet-name> -->
	<!-- <servlet-class>controller.ForgetPwd</servlet-class> -->
	<!-- </servlet> -->
	<!-- <servlet-mapping> -->
	<!-- <servlet-name>ForgetPwd</servlet-name> -->
	<!-- <url-pattern>/ForgetPwd.do</url-pattern> -->
	<!-- </servlet-mapping> -->
	<servlet>
		<description></description>
		<display-name>StartEmployee</display-name>
		<servlet-name>StartEmployee</servlet-name>
		<servlet-class>controller.StartEmployee</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StartEmployee</servlet-name>
		<url-pattern>/StartEmployee.do</url-pattern>
	</servlet-mapping>
</web-app>