html{
	height:100%;
	width:100%;
    font-size: 20px;
    padding:0;
    margin: 0;
    overflow-y: hidden;
}
body{
    padding:0;
    margin: 0;
    height:100%;
	width:100%;
	text-align: center;
}
table{
    width: 80%;
    margin:15px auto 0 auto;
    background-color:#ffffff;
    box-shadow:5px 5px 20px gray; 
     
}
td{
    outline: 1px solid;
}
form{
	 margin:15px auto 0 auto;
}
input{
    font-size: 1rem;
    text-align: center;
    
}
#e,#m,#s{
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
}
#submit{
    margin-top: 1.5rem;
}

.bg_b_cl_w{
    background-color: #e5e5e5;
    color: black;
}
#e_id:disabled{
    border: none;
    background: none;
}
.addEmp_error{
	font-size: 0.5rem;
	color:red;
}
#email{
	width: 12rem;
}



